fastapi==0.115.6
uvicorn==0.30.6
flexcache==0.3
flexparser==0.3.1
ipykernel==6.29.5
ipython
jupyter_client==8.6.2
jupyter_core==5.7.2
numpy
pandas==2.2.3
pint==0.24.3
pydantic==2.10.6
pydantic-core==2.27.2
pyproject-toml==0.1.0
python-dateutil==2.9.0
setuptools==75.8.2
pytest
